Makefile.local
*.pth
trained_model
weights
logs
*.log
pub/*
!pub/.gitkeep
datasets/wisski/train.txt
datasets/wisski/test.txt
datasets/wisski/entities_id.txt
datasets/wisski/items_id.txt
datasets/wisski/kg_final.txt
datasets/wisski/relations_id.txt
datasets/wisski/tmp/*
*user_interactions.tsv
*.npy

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
